<div class="page feedback">
    <app-nav nav-item='{"menu":false,"back":true,"share":false,"comment":false,"class":"","title":"帮助中心"}'></app-nav>
    <div class="content-scrollable has-nav">
        <form name="feedbackForm">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea ng-model="feedback" class="weui-textarea" value="" placeholder="请留下您的宝贵意见" rows="3"></textarea>
                        <div class="weui-textarea-counter"><em ng-bind="feedback.length"></em>/200</div>
                    </div>
                </div>
            </div>

            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" ng-click="postMessage(appAuth.receiverMobile,feedback)" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p style="text-align: center">提交</p>
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>