<div id="nativeShare" class="nativeShares" ng-show="state.share.show">
    <div id="nativeShareClose" class="close" ng-click="hideShare()"><i class="icon-cross"></i></div>
    <div class="list pure-g" data-tag="share_1">
        <a href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{state.share.config.url}}&title={{state.share.config.title}}&desc={{state.share.config.desc}}&pics={{state.share.config.pic}}&summary={{state.share.config.summary}}&site={{state.share.config.site}}" class="nativeShare qzone bds bds_qzone pure-u-1-3" title="分享到QQ空间"><i></i>QQ空间</a>
        <a href="http://service.weibo.com/share/share.php?url={{state.share.config.url}}&title={{state.share.config.title}}&pic={{state.share.config.pic}}&appkey=1343713053&searchPic=true#_loginLayer_1498191940695" class="nativeShare weibo bds bds_tsina pure-u-1-3" title="分享到新浪微博"><i></i>新浪微博</a>
        <a href="http://v.t.qq.com/share/share.php?url={{state.share.config.url}}&title={{state.share.config.title}}&appkey=ce15e084124446b9a612a5c29f82f080&site={{state.share.config.site}}&pic={{state.share.config.pic}}" class="nativeShare bds_tqq bds qq pure-u-1-3" title="分享到腾讯微博"><i></i>腾讯微博</a>
        <!--<a href="javascript:;" class="nativeShare bds_tqq bds show-img copy pure-u-1-3" title="复制分享链接"><i></i></a>-->
    </div>
</div>
<div id="showMask" ng-show="state.share.show" ng-click="hideShare()">
    <!--<div class="weixinShareImg"><img src="{{imgPath}}/weixinShareImg.png">
        <div class="weixinShareTxt">
            选择<em> "</em><em id="share.content"></em><em>" </em>，<span id="targetTips"></span>
        </div>
    </div>-->
</div>