<div class="page feedback">
    <app-nav nav-item='{"menu":false,"back":true,"share":false,"comment":false,"class":"","title":"我的关注"}'></app-nav>
    <div class="content-scrollable has-nav">

        <div class="pageTips" ng-if="bookmarks.length < 1">
            <h2>暂无"已关注"的商品</h2>
            <p>您可以关注"翼分期商城"公众号、或从官网选择关注商品。</p>
        </div>

        <div class="bookmarks" ng-if="bookmarks.length > 0">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" ng-src="http://www.yfq.cn:8899/fileserver/medias/upload/product/20170110/lbfenctecf5hrghtlphcley5hymj.jpg" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title" style="position: relative;margin-right: 10px;">
                                <span>iPhone7 Plus</span>
                                <em style="position: absolute;right: 0">￥6,888</em>
                            </h4>
                            <p class="weui-media-box__desc">国行正品 限时优惠9.5折</p>
                            <ul class="weui-media-box__info" style="margin-top: 0.05rem">
                                <li class="weui-media-box__info__meta">77人分享</li>
                                <li class="weui-media-box__info__meta">66人购买</li>
                            </ul>
                        </div>
                        <div class="weui-media-box__ft"></div>
                    </a>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:;">取消关注</a>
                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:;">立即购买</a>
                </div>
            </div>

            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" ng-src="http://www.yfq.cn:8899/fileserver/medias/upload/product/20170110/lbfenctecf5hrghtlphcley5hymj.jpg" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title" style="position: relative;margin-right: 10px;">
                                <span>iPhone7 Plus</span>
                                <em style="position: absolute;right: 0">￥6,888</em>
                            </h4>
                            <p class="weui-media-box__desc">国行正品 限时优惠9.5折</p>
                            <ul class="weui-media-box__info" style="margin-top: 0.05rem">
                                <li class="weui-media-box__info__meta">77人分享</li>
                                <li class="weui-media-box__info__meta">66人购买</li>
                            </ul>
                        </div>
                        <div class="weui-media-box__ft"></div>
                    </a>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:;">取消关注</a>
                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:;">立即购买</a>
                </div>
            </div>

            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" ng-src="http://www.yfq.cn:8899/fileserver/medias/upload/product/20170110/lbfenctecf5hrghtlphcley5hymj.jpg" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title" style="position: relative;margin-right: 10px;">
                                <span>iPhone7 Plus</span>
                                <em style="position: absolute;right: 0">￥6,888</em>
                            </h4>
                            <p class="weui-media-box__desc">国行正品 限时优惠9.5折</p>
                            <ul class="weui-media-box__info" style="margin-top: 0.05rem">
                                <li class="weui-media-box__info__meta">77人分享</li>
                                <li class="weui-media-box__info__meta">66人购买</li>
                            </ul>
                        </div>
                        <div class="weui-media-box__ft"></div>
                    </a>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:;">取消关注</a>
                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:;">立即购买</a>
                </div>
            </div>
        </div>

    </div>
</div>