<div class="weui-panel">
    <div class="weui-panel__hd">
        <span>订单号：</span><span ng-bind="orderListItem.orderNo"></span>
        <span class="pull-right" ng-bind="orderListItem.orderTypes | orderState"></span></div>
    <div class="weui-panel__bd">
        <product-item ng-repeat="productItem in orderListItem.searchProducts" product-item="productItem" buy-mobile="orderListItem.buyMobile"></product-item>
    </div>
    <div class="weui-form-preview__ft">
        <div class="weui-form-preview__btn weui-form-preview__btn_default"><em>￥</em><em ng-bind="orderListItem.totalAmount"></em></div>
        <a ng-if="orderListItem.orderTypes != 3 && orderListItem.orderTypes != 4 && orderListItem.orderTypes != 5 && orderListItem.buyMobile !== ''" class="weui-form-preview__btn weui-form-preview__btn_default" ng-click="setCertification($event)" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAwNzM5Mjk4Mg==&scene=110#wechat_redirect">实名认证</a>
        <a ng-if="orderListItem.orderTypes == 1" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:;" ng-click="dialog(true, '', '您提交的催发货信息已经提交成功，请耐心等待', ['我知道了',''])">催发货</a>
        <a ng-if="orderListItem.orderTypes == 2" class="weui-form-preview__btn weui-form-preview__btn_primary" href="#/logistics?orderNo={{orderListItem.orderNo}}">查看物流</a>
        <a ng-if="orderListItem.orderTypes == 0" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:;" ng-click="buyNow(orderListItem.salesOrderId,orderListItem.fromPage,orderListItem.orderNo)">立即支付</a>
        <a ng-if="orderListItem.orderTypes == 3" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:;" ng-click="dialog(true, '', '您提交的催激活信息已经提交成功，请耐心等待', ['我知道了',''])">催激活</a>
        <a ng-if="orderListItem.orderTypes == 5" class="weui-form-preview__btn weui-form-preview__btn_primary" href="{{(orderListItem.callbackUrl).replace('undefined','')}}">重新下单</a>
    </div>
</div>