<div id="js-dialog" class="js_dialog" ng-if="dialog.show">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div ng-if="dialog.title != ''" class="weui-dialog__hd"><strong class="weui_dialog_title">{{dialog.title}}</strong></div>
        <div class="weui-dialog__bd" ng-bind-html="dialog.body | trustHtml"></div>
        <div class="weui-dialog__ft">
            <a ng-if="dialog.btnTxt[1] != ''" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" ng-click="dialog.show = false;">{{dialog.btnTxt[1]}}</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" ng-click="dialog.show = false;">{{dialog.btnTxt[0]}}</a>
        </div>
    </div>
</div>
