<div class="page market flow list">
    <app-nav nav-item='{"menu":false,"back":true,"share":false,"comment":true,"class":"","title":"充值"}'></app-nav>
    <div class="content-scrollable has-nav" content-scrollable-scrolled>
        <form id="salesForm" name="accountForm">
            <input name="product" id="product" ng-model="product.productId" value="{{product.productId}}" type="hidden">
            <div id="rechargeNo" class="weui-cells" ng-class="{true:'active',false:''}[!!mobile]">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input id="mobile" ng-model="mobile" name="mobile" ng-change="getFlows(mobile)"
                               ng-pattern="/^[0-9]*$/" pattern="[0-9]*" ng-minlength="11" class="weui-input"
                               placeholder="请输入手机号码" required/>
                    </div>
                    <div class="weui-cell__ft">
                        <i class="icon-user"></i>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <span ng-bind="listData.area_operator" ng-show="!!mobile"></span>
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">充流量</div>

            <div class="prod weui-cells" ng-repeat="item in listData.data" ng-class="{true:'',false:'disabled'}[!!mobile]">
                <a class="weui-cell weui-cell_access" ng-click="selectedProd(item)" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p ng-bind="item.productName"></p>
                    </div>
                    <div class="weui-cell__ft">
                        <span ng-bind="item.salesPrice | number : 2"></span>元
                    </div>
                </a>
                <div class="sun-prod weui-cells" ng-show="item.productId === product.productId">
                    <div class="weui-cell" ng-repeat="item in item.regionProducts">
                        <div class="weui-cell__bd">
                            <p><span>{{item.salesPrice | number : 2}}元</span><del>{{item.costPrice | number : 2}} 元</del></p>
                            <p class="weui-media-box__desc">
                                <span class="flag" ng-bind="item.regionName"></span>
                                <span ng-show="item.regionName === '省内'">仅限本省使用，月底失效，即时生效</span>
                                <span ng-show="item.regionName === '漫游'">月底失效，即时生效</span>
                            </p>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="javascript:;" ng-click="buyProd(item)" class="weui-btn weui-btn_mini weui-btn_plain-primary">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="weui-cells__tips" ng-click="showOverlay()" style="text-align: right;margin-bottom: 0.4rem">常见问题？</div>
    </div>

</div>

<div id="flowTips" style="display: none;">
    <div class="overlay">
        <a href="javascript:;" ng-click="state.overlay.open(false)" class="js-close-overlay overlay-dismiss"><span
                class="icon-cross"></span></a>

        <div class="wrapper-heading">
            <div class="title-overlay">常见问题</div>
            <div class="subtitle-overlay">这里是常见问题，还没有常见问题文案</div>
        </div>

        <a href="javascript:;" class="js-signin btn-twitter" ng-click="state.overlay.open(false)">我知道了</a>
    </div>
</div>

<div id="paySuccess" style="display: none;">
    <div class="overlay">
        <a href="javascript:;" ng-click="state.overlay.open(false)" class="js-close-overlay overlay-dismiss"><span
                class="icon-cross"></span></a>

        <div class="wrapper-heading" style="top: 30%;">
            <div class="weui-msg__icon-area" style="margin-bottom: 0.1rem"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="subtitle-overlay">支付成功</div>
            <div class="subtitle-overlay" style="margin-top: 0.2rem">手机充值</div>
            <div class="title-overlay" style="font-weight: normal"><span style="font-size: 50%">￥</span>99.80</div>
        </div>

        <a href="javascript:;" class="js-signin btn-twitter" style="background: #09BB07" ng-click="state.overlay.open(false)">我知道了</a>
    </div>
</div>