@-webkit-keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(359deg));
  }
}

@keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(359deg));
  }
}

// Notification message (e.g., when unable to connect)
.notifications {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: none;
  &.animated {
    display: block;
  }

  .notification {
    font-size: 0.12rem;
    line-height: 0.18rem;
    background: rgba(51, 51, 51, .95);
    color: $color-empty;
    position: relative;
    width: 100%;

    &:nth-child(odd) {
      background: rgba(45, 45, 45, .95);

      .btn-primary {
        background: rgba(216, 62, 20, .78); // This is color-primary in rgba form
      }
    }

    .icon-sync {
      position: absolute;
      top: 35%;
      right: auto;
      bottom: auto;
      left: 0.12rem;
      @include animation-name('spin');
      @include animation-duration(2s);
      @include animation-iteration-count(2s);
      @include animation-timing-function(linear);
      color: $color-empty;
      font-size: 0.14rem;
      line-height: 0.14rem;
    }

    .icon-sync + .title-notification {
      padding-left: 0.4rem;
    }

    .title-notification {
      font-size: 0.14rem;
      line-height: 0.2rem;
      font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      display: block;
      line-height: 0.14rem;
      padding: 0.15rem 0.1rem;
    }

    .btn-primary {
      float: right;
      background: rgba(216, 62, 20, .85); // This is color-primary in rgba form
      height: 0.48rem;
    }
  }
}
