.pageTips {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  @include transform(translate3d(0px, -50%, 0px));
  margin-top: -0.3rem;
  p {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
  }
}